header.site-header
  nav.site-nav
    a.site-logo(href=route('root')) Hexlet Fastify
    ul.site-menu
      li
        a(href=route('root')) Главная
      li
        a(href=route('courses')) Курсы
      li
        a(href=route('users')) Пользователи
