header.site-header
  nav.site-nav
    a.site-logo(href='/') Hexlet Fastify
    ul.site-menu
      li
        a(href='/') Главная
      li
        a(href='/courses') Курсы
      li
        a(href='/users/show?userId=1') Пользователь
