extends ../layouts/page

block content
  .page-header
    h1.page-title Пользователи
    a.button(href=route('newUser')) Новый пользователь

  ul.user-list
    each user in users
      li.user-card
        h2= user.name
        p= user.email
