extends ../layouts/page

block content
  h1.page-title Новый пользователь

  form.form-card(action='/users' method='post')
    div.form-field
      label Имя:
        input(type='text' name='name')
    div.form-field
      label Email:
        input(type='email' name='email' required=true)
    div.form-field
      label Пароль:
        input(type='password' name='password' required=true)
    div.form-field
      label Подтверждение пароля:
        input(type='password' name='passwordConfirmation' required=true)
    input.form-submit(type='submit' value='Зарегистрировать')
